
.grid {
    margin: auto;
    width: 50%;
    text-align: center;
    border: 2px red;
    border-style: outset;
}

.block {
  display: inline-block;
  background-color: #04AA6D; 
  border: 2px solid black;
  /* width: 10%; */
  /* height: 10%; */
  width: 50px;
  height: 50px;
  /* width: 50%;
  height:50%; */
  vertical-align:middle;
  /* font-size: 60px; */
  /* font-size-adjust: initial; */
}

.block:hover {
  background-color: #646cff;
  outline: 40px auto -webkit-focus-ring-color;
}