.navButtons {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    float: right;
    font-family: Arial
}

.navButtons:hover{
    background-color: chartreuse;
    color: black;
}

.navigationbar {
  overflow: hidden;
  background-color: #333;
}

body {
  margin: 0;
}