
.playerSprite {
  width: 90px;
  height: 90px;
}
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* font-family: inherit; */
  /* background-color: #1a1a1a; */
  /* cursor: pointer; */
  /* transition: border-color 0.25s; */


/* border-color: #646cff; */
/* button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* .container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.container > div:hover{
  background-color: #646cff;
} */

/* .foo {
  filter: blur(8px);
} */