.scene {
  position: relative;
  perspective: 800px;
  width: 100%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel {
  width: 300px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  transform-style: preserve-3d;
  transition: 1s;
}

.carousel_cell {
  border: 2px solid black;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  display:flex;
  align-items : center;
}

.carousel_cell > img{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.carousel_cell > span{
    position: absolute;
    bottom:2px;
    left:0; 
    right:0;
}

.carousel_cell:hover {
  border: 2px solid gold;
}

.carousel_cell:nth-child(1) {
  background: linear-gradient(rgba(251, 194, 4, 0.9), rgba(229, 56, 0, 0.9));
  transform: rotateY(0deg) translateZ(202px);
}
.carousel_cell:nth-child(2) {
  background: linear-gradient(rgba(131, 186, 54, 0.9), rgba(112, 224, 187, 0.9));
  transform: rotateY(120deg) translateZ(202px);
}
.carousel_cell:nth-child(3) {

  background: linear-gradient(rgba(39, 108, 199, 0.9), rgba(120, 168, 229, 0.9));
  transform: rotateY(240deg) translateZ(202px);
}

.difficultyNavButton{
  border: 2px solid black;
  border-radius: 5px;
  height:25px;
}

.difficultyNavButtonLeft{
  position: relative;
  left:5%;
}

.difficultyNavButtonRight{
  position: relative;
  left:-5%;
}

.difficultyNavButton:hover{
  transform:scale(1.1);
  transition: 0.3s;
}

.difficultyNavButton:not(:hover){
    transform: scale(1);
    transition: 0.3s;
}