.gameBackground{ 
    width: 100vw;
    background-image: url('/assets/gameScreen/pokeball_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:scroll;
}

.gameBackgroundHeightSingleplayer{
  height: 100vh;
}

.gameBackgroundHeightMultiplayer{
  height: 80vh;
}

.grid {
    background-color: #cfc50cbd;
    margin: auto;
    text-align: center;
    border: 10px black;
    border-style: outset;
    border-radius: 22px; 
    height: max-content;
    width:max-content;

    padding: 40px;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
}

.gameStatusWindow{
  background-color: #fbbc17;
  border: 5px black;
  border-style: outset;
  position: absolute;
  bottom: 0px;
  height: 18vh;
  width: 99.5%;
  background-size: cover;
  overflow: auto;
}

.block {
  background-color: #04AA6D; 
  border: 2px solid black;
  width: 50px;
  height: 50px;
  vertical-align:middle;
  font-size-adjust: initial;
  color: black;
}

.block:hover {
  background-color: #646cff;
  outline: 40px auto -webkit-focus-ring-color;
}

.darkBackground {
  position: fixed; 
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(0,0,0,0.7);
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.loadingScreen {
  position: fixed; 
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/gameScreen/loadingPokeball.png');
  background-repeat: no-repeat;
  background-position:center;
  border: 2px solid black;
  animation-duration: 2s;
  animation-name: fade-in;
  animation-iteration-count:infinite;
  animation-direction: alternate;

}