.gameBackground{
    height: 100vh; 
    width: 100vw;
    background-image: url('/assets/gameScreen/pokeball_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:scroll;
}

.grid {
    background-color: #cfc50cbd;
    margin: auto;
    text-align: center;
    border: 10px black;
    border-style: outset;
    border-radius: 22px; 
    height: max-content;
    width:max-content;

    padding: 40px;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
}

.block {
  background-color: #04AA6D; 
  border: 2px solid black;
  width: 50px;
  height: 50px;
  vertical-align:middle;
  font-size-adjust: initial;
  color: black;
}

.block:hover {
  background-color: #646cff;
  outline: 40px auto -webkit-focus-ring-color;
}
